<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
<style>
  body {
    font-family: 'Kanit', sans-serif;
  }

  #info {
    font-size: 30px;
  }

  input,
  button {
    margin: 10px;
    font-size: 30px;
  }
</style>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<body>

  <div id="app">
    <div style="margin:auto; width: fit-content; border-style:solid; border-width: 3px;border-color: black;">
      <div>{{txtHello}}</div>
      <div><input type="text" id="name" v-model="name"><button @click="hello()">Hello</button></div>
    </div>
  </div>
  <script>
    const { createApp, ref, reactive } = Vue

    createApp({
      setup() {
        const txtHello = ref('')
        const name = ref('')
        function hello() {
          txtHello.value = 'Hello ' + name.value
        }
        return { hello, name, txtHello }
      }
    }).mount('#app')


  </script>
</body>

</html>