<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div id="num">{{num}}</div>
    <button @click="add()">+</button>
    <button @click="sub()">-</button>
  </div>

  <script>
    const { createApp, ref } = Vue
    createApp({
      setup() {
        const num = ref(0)
        function add() {
          num.value++
        }
        function sub() {
          num.value--
        }
        setInterval(add, 1000)
        return { num, add, sub }
      }


    }).mount('#app')

  </script>
</body>

</html>