<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" id="num1" value="0" v-model="num1">
    + <input type="text" id="num2" value="0" v-model="num2"> =
    <span id="result">{{result}}</span>
    <button @click="add()">calculate</button>
  </div>

  <script>
    const { createApp, ref } = Vue
    createApp({
      setup() {
        const num1 = ref(0)
        const num2 = ref(0)
        const result = ref(0)
        function add() {
          result.value = parseInt(num1.value) + parseInt(num2.value)
        }
        return { num1, num2, result, add }
      }
    }).mount('#app')



  </script>
</body>

</html>