<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .finished {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <input type="text" v-model="txtMsg">
    <button @click="add">Add Task</button>
    <ul>
      <li v-for="(todo, index) in todoList" :class="{finished: todo.status}" :key="index">
        {{ todo.msg }} {{ new Date(todo.created).toString() }}
        <button @click="finishIt(todo)" v-if="!todo.status">X</button>
        <button @click="rollback(todo)" v-if="todo.status">/</button>
      </li>
    </ul>
  </div>
  <script>
    const { createApp, ref, computed } = Vue
    createApp({
      setup() {
        const txtMsg = ref('')
        const todoList = ref([{ msg: 'todo 1', finished: false, created: new Date().getTime() }, { msg: 'todo 2', finished: true, created: new Date().getTime() }])

        function add() {
          todoList.value.push({ msg: txtMsg.value, finished: false, created: new Date().getTime() })
          txtMsg.value = ''
        }
        function finishIt(todo) {
          todo.status = true
        }
        function rollback(todo) {
          todo.status = false
        }

        return { todoList, txtMsg, add, finishIt, rollback }
      }
    }).mount('#app')

  </script>
</body>

</html>