<script setup>
import { RouterView } from 'vue-router'
import { ref } from 'vue'
import MenuItems from '../components/MenuItems.vue'
const drawer = ref(false)
</script>

<template>
  <v-layout>
    <v-navigation-drawer expand-on-hover rail v-model="drawer">
      <MenuItems></MenuItems>
    </v-navigation-drawer>
    <v-app-bar density="compact">
      <template v-slot:prepend>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      </template>

      <v-app-bar-title>Photos</v-app-bar-title>

      <template v-slot:append>
        <v-btn icon="mdi-dots-vertical"></v-btn>
      </template>
    </v-app-bar>
    <v-main style="height: 500px; padding: 100px">
      <RouterView></RouterView>
    </v-main>
  </v-layout>
</template>

<style scoped></style>
