<script setup>
import { ref, computed } from 'vue'
import http from 'axios'
const celcius = ref(38)
const farenheit = ref(0)
const comFarenheit = computed(() => {
  return (celcius.value * 9.0) / 5.0 + 32
})
const calculate = async function () {
  const res = await http.patch('http://127.0.0.1:3000/celsius/', { celsius: celcius.value })
  console.log(res.data)
  farenheit.value = res.data.result
}

const calculateWithGet = async function () {
  const res = await http.get('http://127.0.0.1:3000/celsius/' + celcius.value)
  farenheit.value = res.data.result
}
</script>

<template>
  <v-sheet width="300" class="mx-auto">
    <v-form @submit.prevent>
      <v-text-field
        v-model.number="celcius"
        :rules="[]"
        label="Celcius"
        prepend-icon="mdi-temperature-celsius"
      ></v-text-field>
      <v-btn type="submit" block class="mt-2" @click="calculate">Submit</v-btn>
    </v-form>
    <div style="text-align: center" class="info">
      {{ farenheit }} <v-icon icon="mdi-temperature-fahrenheit"></v-icon>
    </div>
    <div style="text-align: center" class="info">
      {{ comFarenheit }} <v-icon icon="mdi-temperature-fahrenheit"></v-icon>
    </div>
  </v-sheet>
</template>

<style scoped>
.info {
  font-size: 30pt;
}
</style>
