<script setup>
import axios from 'axios'
import { ref, computed } from 'vue'
const fileUpload = ref()
const image = ref('')
const color = ref('#FF0000')
const text = ref('BUU')
async function postImage() {
  console.log(fileUpload.value[0])
  const formData = new FormData()
  formData.append('file', fileUpload.value[0])
  formData.append('r', rgbValue.value.r)
  formData.append('g', rgbValue.value.g)
  formData.append('b', rgbValue.value.b)
  formData.append('text', text.value)
  const res = await axios.post('http://127.0.0.1:3000/labelme', formData, {
    headers: {
      'Content-Type': 'multipart/form-data'
    }
  })
  // console.log(res.data)

  image.value = res.data.result
}
function hexToRgb(hex) {
  var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)
  return result
    ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      }
    : null
}

const rgbValue = computed(() => {
  return hexToRgb(color.value)
})
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><v-container
          ><v-row
            ><v-col cols="12"> <v-img :src="image" style="height: 50vh"></v-img></v-col
            ><v-col
              ><v-file-input
                cols="12"
                v-model="fileUpload"
                :rules="[
                  (value) =>
                    !value ||
                    !value.length ||
                    value[0].size < 2000000 ||
                    'Avatar size should be less than 2 MB!'
                ]"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Pick an avatar"
                prepend-icon="mdi-camera"
                label="Avatar"
              ></v-file-input
            ></v-col>
            <v-col cols="12"
              ><v-text-field
                v-model="text"
                :rules="[(v) => !!v || 'You must enter a Text.']"
                :counter="10"
                label="Text"
                required
              ></v-text-field
            ></v-col> </v-row></v-container
      ></v-col>
      <v-col
        ><v-container>
          <v-col cols="12"
            ><v-btn @click="postImage()" style="width: 100%" color="primary">Upload</v-btn></v-col
          >
          <v-col cols="12"
            ><v-color-picker show-swatches v-model="color" mode="rgb"></v-color-picker
          ></v-col> </v-container
      ></v-col>
    </v-row>
  </v-container>
</template>

<style></style>
