<script setup>
import { onMounted, ref } from 'vue'
import { useUser2Store } from '@/stores/user2'
const userStore = useUser2Store()
const form = ref(null)
const valid = ref(false)

function doDelete(user) {
  userStore.deleteUser(user)
}
async function doSave() {
  if (!valid.value) return
  await userStore.saveUser()

  doClear()
}
function doEdit(user) {
  console.log(user)
  const editedUser = userStore.editedUser
  editedUser.id = user.id
  editedUser.email = user.email
  // editedUser.password = user.password
  editedUser.age = user.age
  editedUser.name = user.name
}
async function doClear() {
  await form.value.reset()
}
onMounted(async () => {
  await userStore.getUsers()
})
</script>

<template>
  <div>
    <div>
      <v-form v-model="valid" ref="form">
        <v-container>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                v-model="userStore.editedUser.email"
                :rules="[
                  (v) => !!v || 'You must enter a email.',
                  (v) =>
                    /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                    'Email is not valid!!!'
                ]"
                :counter="10"
                label="User Name (Email)"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-if="userStore.editedUser.id < 0"
                v-model="userStore.editedUser.password"
                :rules="[
                  (v) =>
                    /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/.test(
                      v
                    ) ||
                    'Minimum eight and maximum 16 characters, at least one uppercase letter, one lowercase letter, one number and one special character'
                ]"
                :counter="16"
                label="Password"
                type="password"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="userStore.editedUser.age"
                :rules="[(v) => /^\d+$/.test(v) || 'Age must be number!!!']"
                label="Age"
                required
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="6">
              <v-text-field
                v-model="userStore.editedUser.name"
                :rules="[(v) => !!v || 'Name is not empty!!!']"
                label="Name"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" style="border: 1; border-style: solid">
              <pre>
                {{ userStore.editedUser }}
              </pre>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-btn style="width: 100%" @click="doClear()" color="red">Clear</v-btn>
            </v-col>
            <v-col>
              <v-btn style="width: 100%" @click="doSave()" color="primary">Save</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </div>

    <v-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>User Name</th>
          <th>Name</th>
          <th>Password</th>
          <th>Age</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in userStore.users" :key="index">
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.age }}</td>
          <td>
            <v-btn icon="mdi-pencil" @click.prevent="doEdit(user)"></v-btn
            ><v-btn color="red" icon="mdi-delete" @click.prevent="doDelete(user)"></v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </div>
</template>

<style scoped></style>
