<script setup>
import { ref } from 'vue'
const prop = defineProps(['text'])
const state = ref(false)
</script>
<template>
  <div :class="{ light: true, on: state, off: !state }" @click="state = !state">
    {{ prop.text }}
  </div>
</template>
<style scoped>
.light {
  border-style: solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-content: center;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.on {
  background-color: #ffff00;
}

.off {
  background-color: #888888;
}
</style>
