<script setup>
import axios from 'axios'
import { ref, onMounted } from 'vue'
const prop = defineProps(['text'])
const state = ref(false)
function showLight(status) {
  state.value = status === 1 ? true : false
}
async function turn() {
  const res = await axios.post('http://127.0.0.1:3000/lights/' + prop.text)
  showLight(res.data.status)
}
async function getLight() {
  const res = await axios.get('http://127.0.0.1:3000/lights/' + prop.text)
  showLight(res.data.status)
}
onMounted(async () => {
  await getLight()
  setInterval(async () => {
    await getLight()
  }, 5000)
})
</script>
<template>
  <div :class="{ light: true, on: state, off: !state }" @click="turn()">
    {{ prop.text }}
  </div>
</template>
<style scoped>
.light {
  border-style: solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-content: center;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.on {
  background-color: #ffff00;
}

.off {
  background-color: #888888;
}
</style>
