<script setup></script>
<template>
  <v-list>
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
      title="Sandra Adams"
      subtitle="sandra_a88@gmailcom"
    ></v-list-item>
  </v-list>

  <v-divider></v-divider>

  <v-list density="compact" nav>
    <v-list-item
      prepend-icon="mdi-home-account"
      title="My Files"
      value="myfiles"
      to="/"
    ></v-list-item>
    <v-list-item
      prepend-icon="mdi-oil-temperature"
      title="Temperature"
      value="temperature"
      to="/temperature"
    ></v-list-item>
    <v-list-item
      prepend-icon="mdi-lightbulb"
      title="lights"
      value="lights"
      to="/lights"
    ></v-list-item>
    <v-list-item
      prepend-icon="mdi-account-multiple"
      title="Users"
      value="users"
      to="/users"
    ></v-list-item>
    <v-list-item
      prepend-icon="mdi-account-multiple"
      title="Users2"
      value="users2"
      to="/users2"
    ></v-list-item>
    <v-list-item prepend-icon="mdi-image" title="Image" value="image" to="/image"></v-list-item>
  </v-list>
</template>
<style></style>
