<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <RouterLink to="/">Home</RouterLink> | <RouterLink to="/hello">Hello View</RouterLink> |
  <RouterLink to="/counter">Counter View</RouterLink> |
  <RouterLink to="/light">Light View</RouterLink> | <RouterLink to="/todo">Todo View</RouterLink> |
  <RouterLink to="/login">Login View</RouterLink> |
  <div style="padding: 50px">
    <RouterView />
  </div>
</template>

<style scoped></style>
