<script setup>
import { ref } from 'vue'
const num = ref(0)
function add() {
  num.value++
}
function sub() {
  num.value--
}
setInterval(add, 1000)
</script>

<template>
  <div>
    <div style="margin-top: 50px; margin-left: auto; margin-right: auto; width: 500px">
      <div id="show_num">{{ num }}</div>
      <button @click="add()">+</button>
      <button @click="sub()">-</button>
    </div>
  </div>
</template>

<style scoped>
div,
button {
  font-family: 'Kanit', 'Courier New', Courier, monospace;
  font-size: 25pt;
  margin: 15pt;
}
button {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
#show_num {
  display: inline-block;
  width: 150px;
  border: 1;
  border-style: solid;
  text-align: center;
}
</style>
