<script setup>
import { ref } from 'vue'
const txtHello = ref('')
const name = ref('')
function hello() {
  txtHello.value = 'Hello ' + name.value
}
</script>

<template>
  <div class="mybody">
    <div
      style="
        margin: auto;
        width: fit-content;
        border-style: solid;
        border-width: 3px;
        border-color: black;
      "
    >
      <div>{{ txtHello }}</div>
      <div>
        <input type="text" id="name" v-model="name" /><button @click="hello()">Hello</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.mybody {
  font-family: 'Kanit', sans-serif;
}

#info {
  font-size: 30px;
}

input,
button {
  margin: 10px;
  font-size: 30px;
}
</style>
