<script setup>
import TheWelcome from '../components/TheWelcome.vue'
</script>

<template>
  <div style="text-align: center">
    <h1>แมวน้อย</h1>
    <img src="@/assets/cat1.jpg" alt="cat 1" height="200" />
    <img src="@/assets/cat2.jpg" alt="cat 2" height="200" />
    <img src="@/assets/cat3.jpg" alt="cat 3" height="200" />
    <div
      style="
        width: fit-content;
        margin: auto;
        border: 1px;
        border-style: solid;
        text-align: justify;
        padding: 1em;
      "
    >
      <p>เราชื่อ แมวน้อย อายุ 1 ปี</p>
      <ul>
        <li>อาชีพ: แมว</li>
        <li>อายุ: 1 ปี</li>
      </ul>
    </div>
  </div>
</template>
