<script setup>
import LightComponent from '../components/LightComponent.vue'
</script>
<template>
  <LightComponent text="l1"></LightComponent>
  <LightComponent text="l2"></LightComponent>
  <LightComponent text="l3"></LightComponent>
  <LightComponent text="l4"></LightComponent>
  <LightComponent text="l5"></LightComponent>
</template>
