<script setup>
import { ref } from 'vue'
const username = ref('')
const password = ref('')
const txtMsg = ref('')
const isError = ref(true)
function doLogin(event) {
  console.log(username.value, password.value)
  if (username.value === 'user1@mail.com' && password.value === 'Password!1234') {
    txtMsg.value = 'ยินดีตอนรับ ' + username.value
    isError.value = false
  } else {
    txtMsg.value = 'ผู้ใช้หรือรหัสผ่านไม่ถูกต้อง'
    isError.value = true
  }
}
function doCancel() {
  txtMsg.value = ''
  username.value = ''
  password.value = ''
  isError.value = false
}
</script>

<template>
  <div>
    <form>
      <div class="container">
        <label for="username">Username:</label>
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          v-model="username"
          required
        />
        <label for="password">Password:</label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          v-model="password"
          required
        />
        <button @click.prevent="doLogin()" type="submit">Login</button>
        <button @click="doCancel()" class="cancelbtn">Cancel</button>
      </div>
    </form>
    <div :class="{ center: true, error: isError }">{{ txtMsg }}</div>
  </div>
</template>

<style scoped>
.error {
  color: red;
}
.center {
  text-align: center;
}
div {
  font-family: 'Kanit', 'Courier New', Courier, monospace;
  font-size: 20pt;
}
button {
  font-family: 'Kanit', 'Courier New', Courier, monospace;
  font-size: 18pt;
  background-color: #4caf50;
  width: 100%;
  color: orange;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}
form {
  border: 3px solid #f1f1f1;
}
input[type='text'],
input[type='password'] {
  font-family: 'Kanit', 'Courier New', Courier, monospace;
  font-size: 18pt;
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.7;
}
.cancelbtn {
  background-color: #fb1b75;
  width: 100%;
  margin: 10px 0px;
}
.container {
  padding: 25px;
  background-color: lightblue;
}
</style>
