<script setup>
import VueJsonPretty from 'vue-json-pretty'
import 'vue-json-pretty/lib/styles.css'
import { ref, computed } from 'vue'
const txtMsg = ref('')
const todoList = ref([
  { msg: 'todo 1', finished: false, created: new Date().getTime() },
  { msg: 'todo 2', finished: true, created: new Date().getTime() }
])

const todoJsonString = computed(function () {
  return JSON.stringify(todoList.value, null, 2)
})
function add() {
  todoList.value.push({ msg: txtMsg.value, finished: false, created: new Date().getTime() })
  txtMsg.value = ''
}
function finishIt(todo) {
  todo.status = true
}
function rollback(todo) {
  todo.status = false
}
</script>
<template>
  <input type="text" v-model="txtMsg" />
  <button @click="add">Add Task</button>
  <ul>
    <li v-for="(todo, index) in todoList" :class="{ finished: todo.status }" :key="index">
      {{ todo.msg }} {{ new Date(todo.created).toString() }}
      <button @click="finishIt(todo)" v-if="!todo.status">X</button>
      <button @click="rollback(todo)" v-if="todo.status">/</button>
    </li>
  </ul>
  <div>
    <pre>{{ todoJsonString }}</pre>
  </div>
</template>
<style scoped>
.finished {
  text-decoration: line-through;
}
</style>
